@model WatchViewModel
@using StreamSearch.Interface.Views.Application
@{
    var video = Model.Video;

    Title = video.Title;
}
<div class="video-container">
    <video class="responsive-video" controls>
        <source src="@video.Page" type="video/mp4">
    </video>
</div>